.footer {
  height: 30vh;
  width: 100%;
  background-color: rgba(40, 40, 40, 1.0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials {
  font-size: 30px;
  height: 10vh;
  width: 20vw;
  display: flex;
  justify-content: center;
}

.socials>ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.socials a {
  color: #1EDD88;
  padding: 0 10px;
}

.footer-final-msg {
  color: rgba(150, 150, 150, 1.0)
}
